<% include partials/header %>



   <div class="d-flex justify-content-center align-items-center container my-5">
       <h3 style="color:white;">Войти в клуб</h3>
<form action="/login" method="POST" id="AdminForm" class="container needs-validation" novalidate style="color:white;">
    
    <div class="form-row align-items-center">
        
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">Имя пользователя</label>
        <input type="text" name="username" class="form-control" id="validationCustom01" placeholder="Username" value="" required>
        <div class="valid-feedback">
          Отлично
        </div>
        <div class="invalid-feedback">
            Ваше имя
          </div>
      </div>
      
    </div>
    
     <div class="form-row align-items-center">
       <div class="col-md-4 mb-3">
        <label for="validationCustom02">Пароль</label>
        <input type="text" name="password" class="form-control" id="validationCustom02" placeholder="Password" value="" required>
        <div class="valid-feedback">
          Олично
        </div>
        <div class="invalid-feedback">
            Ваш пароль
          </div>
      </div>
    </div>
    
    
    
    <button id="" class="btn btn-success" type="submit">Войти</button>
    <a id="" href="/forgot" class="btn btn-info" type="">Восстановить</a>
  </form>
 </div>

<% include partials/footerShort %>
