<% include partials/header %>


 <h1 style="color:white;" class="m-5 text-center">show</h1>
   <div class="d-flex justify-content-center align-items-center container my-5">
    
      <div id="shop" class="d-flex flex-row justify-content-center flex-wrap mx-0 my-3">
         
         
         <div class="card tea" style="width: 20rem; background-color: #333;">
                    <a href=""><img class="card-img-top" src="/<%=product.image%>" alt="matcha">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><%=product.title%></h5>
                        <p class="card-text"><%=product.info%></p>
                        <p><b><%=product.price%></b></p>
                    </div>
            </div>
         
       
      </div>
  </div>
                          <a href="/admin/new" class="btn btn-success btn-lg btn-block my-3">Add new product</a>

<% include partials/footer %>
